[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/touch /tmp/rystemd-flag
ExecStop=/usr/bin/rm -f /tmp/rystemd-flag

[Install]
WantedBy=default.target
